.wrap{
  border: 1px solid red;
  width: 100%;
  background: var(--background);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dashboard{
  border: 1px solid yellow;
  width: 100%;
  font-size: 1.2rem;
  padding: 35px 95px 150px 95px;        /**/
  background: var(--topbackground);
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;    /**/
  justify-content: space-between;
}

.info{
  border: 1px solid magenta;
  padding-bottom: 25px ;
}

.choose{
  border: 1px solid var(--text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
}

.switcher{
  border: 2px solid palegreen;
  position: relative;
  margin-left: 10px;
}

.input{
  border: 2px solid lightcoral;
  display: none;
  outline: none;
}

.label{
  border: 1px solid orangered;
  width: 60px;
  height: 28px;
  border-radius: 30px;
  padding: 2px;
  color: transparent;
  background: linear-gradient( to right,hsl(210, 78%, 56%) , hsl(146, 68%, 55%));
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.label::after{
  content: "";
  display: block;
  position: absolute;
  left: 3px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color:hsl(232, 19%, 15%);
  transition: left 0.25s ease;
}

.input:checked + .label{
  background: hsl(230, 22%, 74%);
}

.input:checked + .label::after{
  left: 34px;
  background-color:white;
}

.containerwrap{
  border: 1px solid lawngreen;
  margin: 0 95px;
  transform: translateY(-18%);
}


.container{
  border:1px solid blue;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-column-gap: 15px;
  grid-row-gap: 20px;
}

.details{
  border:1px solid peachpuff;
  display: flex;
  justify-content: space-between;
}

.details p{
  margin-left: 10px;
}

.number{
  color: var(--white);
  font-size:clamp(2.5rem,4vw,4.5rem);
  margin-top:30px ;
  margin-bottom: 8px;
}

.followers{
  font-family: "inter";
  font-weight: 400;
  letter-spacing: 0.3rem;
}

.today{
  border:1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}  


.green{
  color: hsl(163, 72%, 41%);
  margin-left: 5px;
}
.red{  
  color: hsl(356, 69%, 56%);
  margin-left: 5px;
}

.display{
  border: 1px solid plum;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.margin{
  margin-top: 45px;
  margin-bottom: 20px;
}


@media only screen and (max-width:1025px){

  .dashboard{
    padding: 40px 25px;
    flex-direction: column;
  }

  .containerwrap{
    margin: 0 28px;
    transform: translateY(-1.5%);
  }

  .container{
    border:1px solid blue;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 15px;
    grid-row-gap: 20px;
  }


}

@media only screen and (max-width:550px){

  .container{
    border:1px solid blue;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-column-gap: 15px;
    grid-row-gap: 20px;
  }


}